*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

html, body, #root {
  height: 100%;
}

body {
  background: #f5f5f5;
  margin: 0;
  color: #1b1b1b;
}

button, 
input[type="text"],
input[type="search"] {
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  padding: 0;
  width: auto;
}

input[type="text"],
input[type="search"] {
  padding: 0.5em 1em;
  border: 1px solid;

  &:focus {
    outline: none;
  }
}

.app {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  min-height: 100%;
  justify-content: space-between;

  section#content {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    header,
    main {
      padding: 0 2em;
    }

    header {
      margin: 1em 0;
      display: flex;
      flex-direction: column;
      gap: 2em;


      > div {
        display: flex;
        justify-content: space-between;

        &:first-child {
          padding-bottom: 1.5em;
          box-shadow: 0 4px 2px -2px #f5f5f5;
        }
      }
    
      h1 {
        padding: 0;
        margin: 0;
      }
    
      nav {
        padding-top: .5em;

        button {
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: .1em;
        
          &:hover {
            background-color: #141414;
            color: #fff;
          }
        }

        + form {
          display: flex;
          button {
            background: #141414;
            color: #fff;
          }
        }
        
      }

    }

    main {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }

  footer {
    padding: 0 2em;
    background: #141414;
    display: flex;
    justify-content: space-between;
    
    color: #fff;
    
    ul {
      list-style: none;
      padding: 0;
    }
    
    a {
      color: #fff;
      text-decoration: none;
      font-size: .8em;
    }
  }

  button {
    padding: 0.2em 0.5em;
  }
}

.product {
  display: flex;
  flex-direction: column;
  height: 300px;
  background: #fff;
  
  img {
    height: 200px;
  }
  
}

.product > p {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  
   
  span {
    padding: .2rem;
  }
  
  span.pr-name {
    font-size: 1.2em;
  }
  span.pr-price {
    font-weight: bold;
    font-size: 0.9em;
  }
}


/* Form styles */

.cbox { /*checkbox control group (input + label) */
  margin: .5em 0;
  font-size: 20px;
  min-height: 1em;
  padding-left: 1em; /* create space for the checkbox */
  position: relative;

  label::before,
  label::after,
  input[type="checkbox"] {
    position:absolute;
  }

  label::before,
  input[type="checkbox"] { /* customize checkbox size */
    height: 1em;
    left: 0;
    top: 0;
    width: 1em;
  }

  input[type="checkbox"] { /* hide native checkbox look-and-feel */
    margin: 0;
    opacity: 0;
    z-index: 1;
  }

  label::before { /* custom checkbox look-and-feel */
    background: transparent;
    border: .1em solid currentcolor;
    content: "";
  }

  label::after { /* custom checkbox marker */
    content: "";
    border: solid;
    background: transparent;
    border-width: 0 0 .1em .1em;
    box-sizing: content-box;
    height: .2em;
    left: .2em;
    width: .5em;
    top: .3em;
    transform: rotate(-45deg);
    position: absolute;
    opacity: 0; /* hidden when not checked */
  }

  &:has(> input[type="checkbox"]:checked) > label::before {
    /* change border color when checked */
    border-color: green;
  }

  input[type="checkbox"]:checked + label::after {
    /* show marker and change its color */
    opacity: 1;
    border-color: green;
  }

  label {
    padding-left: .5em;
  }
}

.rbox { /* radio button control */
  margin: .5em 0;
  font-size: 20px;
  min-height: 1em;
  padding-left: 1em;
  position: relative;

  label::before,
  label::after,
  input[type="radio"] {
    position: absolute;
    margin: 0;
    padding: 0;
  }

  label::before,
  input[type="radio"] {
    width: 1em;
    height: 1em;
    left: 0;
    top: 0;
  }

  label::before {
    background: transparent;
    border: .1em solid currentcolor;
    content: "";
    border-radius: 50%;
  }

  input[type="radio"] {
    z-index: 1;
    opacity: 0;
  }

  label::after {
    content: "";
    width: .5em;
    height: .5em;
    background: green;
    top: .25em;
    left: .25em;
    border-radius: 50%;
    opacity: 0;
  }

  &:has(input[type="radio"]:checked) > label::before {
    border-color: green;
  }

  input[type="radio"]:checked + label::after {
    opacity: 1;
  }

  label {
    padding-left: .5em;
  }
}

button.icon-btn {
  position: relative;


  span.badge {
    position: absolute;
    box-sizing: content-box;
    display: inline-block;
    font-size: .8rem;
    line-height: 1.2;
    padding: .3em;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    right: -0.5rem;
    top: -0.5rem;
    background: chocolate;
    
  }
}